* {
  box-sizing: border-box;
  /* font-family: 'Lexend Mega', sans-serif; */
  /* font-family: 'Alegreya', serif; */
  margin: auto;
}
.home-body {
  height: 100vh;
  background-color: #dbd7d2;
}

/* navbar */
.nav-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  background-color: #5f9ea0;
  color: white; 
  font-family: 'Lexend Mega', sans-serif;
  
}

.nav-bar-links:link {
  text-decoration: none;
  color: white;
}

.nav-bar-links:hover {
  color: #a5694f;
}

h1 {
  padding: 20px 0 0 0;
}

.nav-bar-links {
  display: flex;
  flex-direction: row;
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  padding: 20px 0 10px 0;
  width: 80%;

}

li {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0% 5%;
  color: white;
  font-size: 100%;
  font-family: 'Lexend Mega', sans-serif;
}

.books-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #5f9ea0;
  color: white; 
  font-family: 'Lexend Mega', sans-serif;
  
}

.books-nav-links {
  display: flex;
  flex-direction: row;
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  padding: 20px 0 10px 0;
  width: 80%;
}

.books-nav-links:hover {
  color: #5f9ea0;
  cursor: pointer;
}





/* homepage */e
.main-home {
  background-color: #a5694f;
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

#explore-copy {
  font-family: 'Alegreya', serif;
  text-align: center;
  background-color: #dbd7d2;
  padding: 3%;
}

#individual-navs-copy {
  font-family: 'Alegreya', serif;
  text-align: center;
  padding: 1.5%;
}

.top-of-page-copy-links {
  display: flex;
  flex-direction: column;
  width: 100%;
}

#category-copy {
  font-family: 'Alegreya', serif;
  text-align: center;
  background-color: #dbd7d2;
}

.homepage-links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  background-color: #dbd7d2;
  /* border: 5px solid green; */
  height: 100%;
  width: 100%;
  padding: 3%;

}

.textiles-home {
  /* border: 5px solid purple; */
  display: flex;  
  background-image:
  linear-gradient(rgba(160, 82, 45, 0.5), rgba(160, 82, 45, 0.5)),
  url('https://openaccess-cdn.clevelandart.org/1926.533/1926.533_web.jpg');
  background-size: cover;
  flex: 1;
  height: 500px;
  width: 33vw;
  background-position: center;
  justify-content: center;
  align-items: center;

}

.darts-home {
  /* border: 5px solid orange; */
  display: flex;
  background-image:
  linear-gradient(rgba(105, 105, 105, 0.5), rgba(105, 105, 105, 0.5)),
  url('https://openaccess-cdn.clevelandart.org/1962.23/1962.23_web.jpg');
  background-size: cover;
  flex: 1;
  height: 500px;
  width: 33vw;
  background-position: center;
  justify-content: center;
  align-items: center;

}

.books-home {
  /* border: 5px solid blue; */
  display: flex;
  background-image:
    linear-gradient(rgba(160, 82, 45, 0.5), rgba(160, 82, 45, 0.5)),
    url('https://openaccess-cdn.clevelandart.org/1924.746.2.a/1924.746.2.a_web.jpg');
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 500px;
  width: 33vw;
  justify-content: center;
  align-items: center;

}

#home-copy {
  color: white;
  font-size: 35px;
  /* background-color: white; */
  justify-content: center;
  align-items: center;
  text-align: center;
  font-family: 'Alegreya', serif;
  text-decoration: none;
}

.homepage-image {
  max-width: 100%;
  /* width: 50vw; */
  flex: 1;
}


/* info cards */

img {
  width: 300px;
}

/* collection pages */
.card-container-container {
  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


.card {
  border: 5px solid #a5694f;
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: column;
  /* flex-wrap: wrap; */
  /* flex: 1; */
  justify-content: center;
  align-items: center;
  text-align: center;
  max-width: 550px;
  min-width: 550px;
  width: fit-content;
  min-height: 400px;
  height: auto;
  margin: 10px;
  padding: 10px;
  color: black;
  text-decoration: none;
  background-color: fuschia;
}

.card:link {
  text-decoration: none;
  background-color: fuschia;

}

.title {
  background-color: #a0522d;
  color: white;
  padding: 1%;
}

.image {
  padding: 1%;
}

.description {
  padding: 1%;
}

/* BOOKS NAV */
.books-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #a0522d;
  color: white; 
  font-family: 'Lexend Mega', sans-serif;
  width: 100%;
  margin: 5px 0px 0px 0px;
}

.books-nav-links {
  display: flex;
  flex-direction: row;
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  padding: 20px 0 10px 0;
  width: 80%;
}

/* DECORATIVE ARTS */
.darts-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #a0522d;
  color: white; 
  font-family: 'Lexend Mega', sans-serif;
  width: 100%;
  margin: 5px 0px 0px 0px;
}

.darts-nav-links:hover {
  color: #5f9ea0;
  cursor: pointer;
}

.darts-nav-links {
  display: flex;
  flex-direction: row;
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  padding: 20px 0 10px 0;
  width: 80%;
  text-decoration: underline;

}


/* TEXTILES */
.textiles-nav {
  display: flex;
  flex-direction: row;
  text-align: center;
  background-color: #a0522d;
  color: white; 
  font-family: 'Lexend Mega', sans-serif;
  width: 100%;
  margin: 5px 0px 0px 0px;
}
.textiles-nav-links:hover {
  color: #5f9ea0;
  cursor: pointer;
}
.textiles-nav-links {
  display: flex;
  flex-direction: row;
  font-family: 'Lexend Mega', sans-serif;
  color: white;
  padding: 20px 0 10px 0;
  width: 80%;
}

.individual-items-container {
  font-family: 'Alegreya', serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 2% 0% 2% 0%;  
  border: 15px solid #a0522d;
}

.individual-items {
  display: flex;
  flex-direction: row;
}

.individual-items-image {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.individual-image {
  max-width: 550px;
  min-width: 550px;
  padding: 2% 2% 2% 0%;  
}

.individual-items-copy {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.date, .culture, .description, .fun-fact, .creditline {
  padding: 5%;
}


/* footer */
.footer {
  font-family: 'Alegreya', serif;
  background-color: #5f9ea0;
  color: white;
  font-size: 20px;
  text-align: center;
  padding: 2%;
  margin: 0 0 10px 0;
}